# Calculate Returns

Use the formula ${\frac{p_{t} - p_{t-1}}{p_{t-1}}}$ for calculating the returns of the following prices. In this exercise, we'll calculate the returns for each day using the closing price data in `close`.

![returns_chart.png](returns_chart_720_358.png)

In [2]:
# Import the libraries
import pandas as pd

In [6]:
# Closing prices
close = pd.DataFrame(data = {'ABC': [1, 5, 3, 6, 2],
                             'EFG': [12, 51, 43, 56, 22],
                             'XYZ': [35, 36, 36, 36, 37], },
                     index = pd.date_range('10/01/2018', periods = 5, freq = 'D'))

close

            ABC  EFG  XYZ
2018-10-01    1   12   35
2018-10-02    5   51   36
2018-10-03    3   43   36
2018-10-04    6   56   36
2018-10-05    2   22   37

Using the returns formula on the closing prices for the ticker "ABC" should give us `[(5-1)/1, (3-5)/5, (6-3)/3, (2-6)/6]` or `[4, -0.4, 1, -0.66]`. To calculate this for the whole DataFrame, we'll use the [DataFrame.shift](https://pandas.pydata.org/pandas-docs/version/0.21/generated/pandas.DataFrame.shift.html) function.

This function allows us to shift the rows of data. For example, the following shifts the rows in `close` two days back.

In [7]:
# Shift two days back
close.shift(2)

                  ABC         EFG         XYZ
2018-10-01        nan         nan         nan
2018-10-02        nan         nan         nan
2018-10-03 1.00000000 12.00000000 35.00000000
2018-10-04 5.00000000 51.00000000 36.00000000
2018-10-05 3.00000000 43.00000000 36.00000000

The data for the row "2018-10-03" contains data that is two days in the past. You'll also notice the "NaN" values for "2018-10-01" and "2018-10-02". Since there's not data two days in the past for these dates, it returns a "NaN" value.

Use this function, you can also shift in the future using a negative number. Let's shift one day in the future.

In [8]:
# Shift 1 day in future
close.shift(-1)

                  ABC         EFG         XYZ
2018-10-01 5.00000000 51.00000000 36.00000000
2018-10-02 3.00000000 43.00000000 36.00000000
2018-10-03 6.00000000 56.00000000 36.00000000
2018-10-04 2.00000000 22.00000000 37.00000000
2018-10-05        nan         nan         nan

## Quiz
Using what you know about the [DataFrame.shift](https://pandas.pydata.org/pandas-docs/version/0.21/generated/pandas.DataFrame.shift.html) function, implement the function.

Once you successfully implemented the quiz, you can can continue to the next concept in the classroom.

In [ ]:
# Import the libraries
import quiz_tests

In [11]:
def calculate_returns(close):
    """
    Compute returns for each ticker and date in close.
    
    Parameters
    ----------
    close : DataFrame
        Close prices for each ticker and date
    
    Returns
    -------
    returns : DataFrame
        Returns for each ticker and date
    """
    
    
    return (close - close.shift(1)) / close.shift(1)

In [13]:
# Calculate the returns of 'close' dataframe
calculate_returns(close)

                   ABC         EFG        XYZ
2018-10-01         nan         nan        nan
2018-10-02  4.00000000  3.25000000 0.02857143
2018-10-03 -0.40000000 -0.15686275 0.00000000
2018-10-04  1.00000000  0.30232558 0.00000000
2018-10-05 -0.66666667 -0.60714286 0.02777778

In [9]:
# Test the function
quiz_tests.test_calculate_returns(calculate_returns)

Tests Passed

## The End!